<h1>Predicting high BP</h1>

<script>
alert("Playing with fire");
</script>

In [1]:
import pandas as pd
import csv as csv
import numpy as np

df = pd.read_csv('smoking.csv')

In [2]:
df

,SEQN,SDPPSU6,SDPSTRA6,WTPFHX6,HSAGEIR,HSSEX,DMARACER,BMPWTLBS,BMPHTIN,PEPMNK1R,PEPMNK5R,HAR1,HAR3,SMOKE,TCP,HBP
0,3.0,1.0,44.0,1735.14,21.0,1.0,1.0,179.5,70.4,120.0,67.0,2.0,NaN,1.0,268.0,0
1,4.0,1.0,43.0,1725.01,32.0,0.0,1.0,135.6,63.9,126.0,86.0,2.0,NaN,1.0,160.0,0
2,9.0,2.0,43.0,19451.83,48.0,0.0,1.0,149.7,61.8,131.0,73.0,1.0,2.0,2.0,236.0,0
3,10.0,1.0,6.0,27769.56,35.0,1.0,1.0,203.5,69.8,130.0,82.0,2.0,NaN,1.0,225.0,0
4,11.0,2.0,40.0,1245.52,48.0,1.0,1.0,155.3,66.2,120.0,70.0,1.0,2.0,2.0,260.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17026,53589.0,2.0,8.0,4667.32,81.0,0.0,1.0,190.2,61.8,129.0,72.0,1.0,2.0,2.0,168.0,0
17027,53593.0,2.0,17.0,18911.40,23.0,1.0,1.0,172.7,76.2,123.0,83.0,2.0,NaN,1.0,188.0,0
17028,53594.0,2.0,11.0,9323.23,26.0,0.0,1.0,234.9,67.1,124.0,83.0,2.0,NaN,1.0,137.0,0
17029,53616.0,2.0,21.0,2341.16,85.0,1.0,1.0,189.1,68.0,157.0,94.0,2.0,NaN,1.0,285.0,1
17030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
df.head()

,SEQN,SDPPSU6,SDPSTRA6,WTPFHX6,HSAGEIR,HSSEX,DMARACER,BMPWTLBS,BMPHTIN,PEPMNK1R,PEPMNK5R,HAR1,HAR3,SMOKE,TCP,HBP
0,3.0,1.0,44.0,1735.14,21.0,1.0,1.0,179.5,70.4,120.0,67.0,2.0,NaN,1.0,268.0,0
1,4.0,1.0,43.0,1725.01,32.0,0.0,1.0,135.6,63.9,126.0,86.0,2.0,NaN,1.0,160.0,0
2,9.0,2.0,43.0,19451.83,48.0,0.0,1.0,149.7,61.8,131.0,73.0,1.0,2.0,2.0,236.0,0
3,10.0,1.0,6.0,27769.56,35.0,1.0,1.0,203.5,69.8,130.0,82.0,2.0,NaN,1.0,225.0,0
4,11.0,2.0,40.0,1245.52,48.0,1.0,1.0,155.3,66.2,120.0,70.0,1.0,2.0,2.0,260.0,0

<h3>Deleting the weird empty column</h3>

In [4]:
# df[16]

In [5]:
df.head()

,SEQN,SDPPSU6,SDPSTRA6,WTPFHX6,HSAGEIR,HSSEX,DMARACER,BMPWTLBS,BMPHTIN,PEPMNK1R,PEPMNK5R,HAR1,HAR3,SMOKE,TCP,HBP
0,3.0,1.0,44.0,1735.14,21.0,1.0,1.0,179.5,70.4,120.0,67.0,2.0,NaN,1.0,268.0,0
1,4.0,1.0,43.0,1725.01,32.0,0.0,1.0,135.6,63.9,126.0,86.0,2.0,NaN,1.0,160.0,0
2,9.0,2.0,43.0,19451.83,48.0,0.0,1.0,149.7,61.8,131.0,73.0,1.0,2.0,2.0,236.0,0
3,10.0,1.0,6.0,27769.56,35.0,1.0,1.0,203.5,69.8,130.0,82.0,2.0,NaN,1.0,225.0,0
4,11.0,2.0,40.0,1245.52,48.0,1.0,1.0,155.3,66.2,120.0,70.0,1.0,2.0,2.0,260.0,0

<h3>Adding proper column names</h3>

In [6]:
column_names = ['id', 'pseudo_psu', 'pseudo_stratum', 'stat_weight', 'age', 'sex', 'race', 
                'body_weight', 'height', 'avg_systolic_bp', 'avg_diastolic_bp', 'smoked_alot', 
                'currently_smokes', 'smoking', 'serum_cholesterol', 'hbp']
df.columns = column_names

In [7]:
df.head()

,id,pseudo_psu,pseudo_stratum,stat_weight,age,sex,race,body_weight,height,avg_systolic_bp,avg_diastolic_bp,smoked_alot,currently_smokes,smoking,serum_cholesterol,hbp
0,3.0,1.0,44.0,1735.14,21.0,1.0,1.0,179.5,70.4,120.0,67.0,2.0,NaN,1.0,268.0,0
1,4.0,1.0,43.0,1725.01,32.0,0.0,1.0,135.6,63.9,126.0,86.0,2.0,NaN,1.0,160.0,0
2,9.0,2.0,43.0,19451.83,48.0,0.0,1.0,149.7,61.8,131.0,73.0,1.0,2.0,2.0,236.0,0
3,10.0,1.0,6.0,27769.56,35.0,1.0,1.0,203.5,69.8,130.0,82.0,2.0,NaN,1.0,225.0,0
4,11.0,2.0,40.0,1245.52,48.0,1.0,1.0,155.3,66.2,120.0,70.0,1.0,2.0,2.0,260.0,0

<h3>The last sample is strange</h3>

In [8]:
df.drop(df.index[-1], inplace=True)

<h3>Convert to numeric, convert all '.' to nan automagically</h3>

In [9]:
df = df.apply(pd.to_numeric, args=('coerce',))

In [10]:
df.shape

(17030, 16)

In [11]:
df.isnull().sum()

id                      0
pseudo_psu              0
pseudo_stratum          0
stat_weight             0
age                     0
sex                     0
race                    5
body_weight            54
height                 39
avg_systolic_bp       492
avg_diastolic_bp      494
smoked_alot             0
currently_smokes     8404
smoking                 1
serum_cholesterol     968
hbp                     0
dtype: int64

In [12]:
for i in df:
    print(i,np.round(df[i].isnull().mean(),4),'%')

id 0.0 %
pseudo_psu 0.0 %
pseudo_stratum 0.0 %
stat_weight 0.0 %
age 0.0 %
sex 0.0 %
race 0.0003 %
body_weight 0.0032 %
height 0.0023 %
avg_systolic_bp 0.0289 %
avg_diastolic_bp 0.029 %
smoked_alot 0.0 %
currently_smokes 0.4935 %
smoking 0.0001 %
serum_cholesterol 0.0568 %
hbp 0.0 %

In [13]:
for i in df:
    print(i,np.round(df[i].isnull().mean()*100,4)>20)

id False
pseudo_psu False
pseudo_stratum False
stat_weight False
age False
sex False
race False
body_weight False
height False
avg_systolic_bp False
avg_diastolic_bp False
smoked_alot False
currently_smokes True
smoking False
serum_cholesterol False
hbp False

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17030 entries, 0 to 17029
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 17030 non-null  float64
 1   pseudo_psu         17030 non-null  float64
 2   pseudo_stratum     17030 non-null  float64
 3   stat_weight        17030 non-null  float64
 4   age                17030 non-null  float64
 5   sex                17030 non-null  float64
 6   race               17025 non-null  float64
 7   body_weight        16976 non-null  float64
 8   height             16991 non-null  float64
 9   avg_systolic_bp    16538 non-null  float64
 10  avg_diastolic_bp   16536 non-null  float64
 11  smoked_alot        17030 non-null  float64
 12  currently_smokes   8626 non-null   float64
 13  smoking            17029 non-null  float64
 14  serum_cholesterol  16062 non-null  float64
 15  hbp                17030 non-null  int64
dtypes: float64(15), int64(1)
memory usage: 2.1 MB

<h3>Take a look at  some values</h3>

In [15]:
for column in df:
    print(column + ': ')
    print(np.unique(df[column].values))

id:
[3.0000e+00 4.0000e+00 9.0000e+00 ... 5.3593e+04 5.3594e+04 5.3616e+04]
pseudo_psu:
[1. 2.]
pseudo_stratum:
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.]
stat_weight:
[   225.93    225.95    231.02 ... 131094.3  135251.6  139744.9 ]
age:
[20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37.
 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55.
 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73.
 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87. 88. 89. 90.]
sex:
[0. 1.]
race:
[ 1.  2.  3. nan]
body_weight:
[ 48.   65.6  68.7 ... 481.6 532.    nan]
height:
[46.7 50.  51.4 51.9 52.1 52.4 53.5 53.6 53.7 53.8 53.9 54.1 54.2 54.3
 54.4 54.5 54.6 54.8 54.9 55.  55.1 55.2 55.3 55.4 55.5 55.6 55.7 55.8
 55.9 56.  56.1 56.2 56.3 56.4 56.5 56.6 56.7 56.8 56.9 57.  57.1 57.2
 57.3 57.4 57.5 57.6 57.7 57.8 57.9 58.  58.1 58.2 58.3 58.4 58.5 58.6
 58.7 58.8 58.9 59.  59.1 59.2 59.3 59.4 59.5 59.6 59.7 59.8 59.9 60.
 60.1 60.2 60.3 60.4 60.5 60.6 60.7 60.8 60.9 61.  61.1 61.2 61.3 61.4
 61.5 61.6 61.7 61.8 61.9 62.  62.1 62.2 62.3 62.4 62.5 62.6 62.7 62.8
 62.9 63.  63.1 63.2 63.3 63.4 63.5 63.6 63.7 63.8 63.9 64.  64.1 64.2
 64.3 64.4 64.5 64.6 64.7 64.8 64.9 65.  65.1 65.2 65.3 65.4 65.5 65.6
 65.7 65.8 65.9 66.  66.1 66.2 66.3 66.4 66.5 66.6 66.7 66.8 66.9 67.
 67.1 67.2 67.3 67.4 67.5 67.6 67.7 67.8 67.9 68.  68.1 68.2 68.3 68.4
 68.5 68.6 68.7 68.8 68.9 69.  69.1 69.2 69.3 69.4 69.5 69.6 69.7 69.8
 69.9 70.  70.1 70.2 70.3 70.4 70.5 70.6 70.7 70.8 70.9 71.  71.1 71.2
 71.3 71.4 71.5 71.6 71.7 71.8 71.9 72.  72.1 72.2 72.3 72.4 72.5 72.6
 72.7 72.8 72.9 73.  73.1 73.2 73.3 73.4 73.5 73.6 73.7 73.8 73.9 74.
 74.1 74.2 74.3 74.4 74.5 74.6 74.7 74.8 74.9 75.  75.1 75.2 75.3 75.4
 75.5 75.6 75.7 75.8 75.9 76.  76.1 76.2 76.3 76.4 76.5 76.6 76.7 76.9
 77.  77.1 77.6 78.1 78.5 78.7 79.4 81.3  nan]
avg_systolic_bp:
[ 69.  80.  81.  83.  84.  86.  87.  88.  89.  90.  91.  92.  93.  94.
  95.  96.  97.  98.  99. 100. 101. 102. 103. 104. 105. 106. 107. 108.
 109. 110. 111. 112. 113. 114. 115. 116. 117. 118. 119. 120. 121. 122.
 123. 124. 125. 126. 127. 128. 129. 130. 131. 132. 133. 134. 135. 136.
 137. 138. 139. 140. 141. 142. 143. 144. 145. 146. 147. 148. 149. 150.
 151. 152. 153. 154. 155. 156. 157. 158. 159. 160. 161. 162. 163. 164.
 165. 166. 167. 168. 169. 170. 171. 172. 173. 174. 175. 176. 177. 178.
 179. 180. 181. 182. 183. 184. 185. 186. 187. 188. 189. 190. 191. 192.
 193. 194. 195. 196. 197. 198. 199. 200. 201. 202. 203. 204. 205. 206.
 207. 209. 210. 211. 215. 216. 218. 219. 220. 221. 223. 224. 225. 226.
 230. 231. 237. 244.  nan]
avg_diastolic_bp:
[ 20.  22.  30.  32.  33.  37.  38.  39.  40.  41.  42.  43.  44.  45.
  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.  57.  58.  59.
  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.
  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.  85.  86.  87.
  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.  99. 100. 101.
 102. 103. 104. 105. 106. 107. 108. 109. 110. 111. 112. 113. 114. 115.
 116. 119. 120. 121. 123. 124. 126. 129. 130. 133. 134. 142.  nan]
smoked_alot:
[1. 2.]
currently_smokes:
[ 1.  2. nan]
smoking:
[ 1.  2.  3. nan]
serum_cholesterol:
[ 59.  74.  79.  81.  83.  89.  92.  93.  94.  95.  96.  98.  99. 100.
 101. 102. 103. 104. 105. 106. 107. 108. 109. 110. 111. 112. 113. 114.
 115. 116. 117. 118. 119. 120. 121. 122. 123. 124. 125. 126. 127. 128.
 129. 130. 131. 132. 133. 134. 135. 136. 137. 138. 139. 140. 141. 142.
 143. 144. 145. 146. 147. 148. 149. 150. 151. 152. 153. 154. 155. 156.
 157. 158. 159. 160. 161. 162. 163. 164. 165. 166. 167. 168. 169. 170.
 171. 172. 173. 174. 175. 176. 177. 178. 179. 180. 181. 182. 183. 184.
 185. 186. 187. 188. 189. 190. 191. 192. 193. 194. 195. 196. 197. 198.
 199. 200. 201. 202. 203. 204. 205. 206. 207. 208. 209. 210. 211. 212.
 213. 214. 215. 216. 217. 218. 219. 220. 221. 222. 223. 224. 225. 226.
 227. 228. 229. 230. 231. 232. 233. 234. 235. 236. 237. 238. 239. 240.
 241. 242. 243. 244. 245. 246. 247. 248. 249. 250. 251. 252. 253. 254.
 255. 256. 257. 258. 259. 260. 261. 262. 263. 264. 265. 266. 267. 268.
 269. 270. 271. 272. 273. 274. 275. 276. 277. 278. 279. 280. 281. 282.
 283. 284. 285. 286. 287. 288. 289. 290. 291. 292. 293. 294. 295. 296.
 297. 298. 299. 300. 301. 302. 303. 304. 305. 306. 307. 308. 309. 310.
 311. 312. 313. 314. 315. 316. 317. 318. 319. 320. 321. 322. 323. 324.
 325. 326. 327. 328. 329. 330. 331. 332. 333. 334. 335. 336. 337. 338.
 339. 340. 341. 342. 343. 344. 345. 346. 347. 348. 349. 350. 351. 352.
 354. 355. 356. 360. 361. 362. 364. 365. 366. 367. 368. 370. 371. 372.
 375. 376. 377. 379. 381. 384. 385. 386. 387. 388. 392. 393. 394. 399.
 400. 403. 408. 412. 415. 416. 420. 422. 424. 425. 427. 432. 437. 446.
 451. 463. 464. 478. 491. 501. 518. 676. 702.  nan]
hbp:
[0 1]

<h3>How many nulls do we have?</h3>

In [16]:
for column in df:
    print(column + ': ')
    print(df[column].isnull().sum())

id:
0
pseudo_psu:
0
pseudo_stratum:
0
stat_weight:
0
age:
0
sex:
0
race:
5
body_weight:
54
height:
39
avg_systolic_bp:
492
avg_diastolic_bp:
494
smoked_alot:
0
currently_smokes:
8404
smoking:
1
serum_cholesterol:
968
hbp:
0

<h3>Use Machine learning to replace weight</h3>

<h4>Check to see if using age, sex, height, race, sys, dia, smoking and cholesterol to predict weight is feasible</h4>

Select the samples whose columns in these rows are not null (will use them for prediction)

In [17]:
missing = ((~df['race'].isnull())&(~df['height'].isnull())&(~df['avg_systolic_bp'].isnull())&(~df['avg_diastolic_bp'].isnull())
           &(~df['smoking'].isnull())&(~df['serum_cholesterol'].isnull())&(~df['age'].isnull())&(~df['sex'].isnull()))

In [18]:
data = df[missing][~df['body_weight'].isnull()]

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\1798263649.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = df[missing][~df['body_weight'].isnull()]

In [19]:
data.head()

,id,pseudo_psu,pseudo_stratum,stat_weight,age,sex,race,body_weight,height,avg_systolic_bp,avg_diastolic_bp,smoked_alot,currently_smokes,smoking,serum_cholesterol,hbp
0,3.0,1.0,44.0,1735.14,21.0,1.0,1.0,179.5,70.4,120.0,67.0,2.0,NaN,1.0,268.0,0
1,4.0,1.0,43.0,1725.01,32.0,0.0,1.0,135.6,63.9,126.0,86.0,2.0,NaN,1.0,160.0,0
2,9.0,2.0,43.0,19451.83,48.0,0.0,1.0,149.7,61.8,131.0,73.0,1.0,2.0,2.0,236.0,0
3,10.0,1.0,6.0,27769.56,35.0,1.0,1.0,203.5,69.8,130.0,82.0,2.0,NaN,1.0,225.0,0
4,11.0,2.0,40.0,1245.52,48.0,1.0,1.0,155.3,66.2,120.0,70.0,1.0,2.0,2.0,260.0,0

In [20]:
total_data = data[['race', 'age', 'sex', 'height', 'avg_systolic_bp', 'avg_diastolic_bp', 'smoking', 'serum_cholesterol',
                   'body_weight']].values

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)

In [22]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
print(regr.score(x_test, y_test))

0.2654854756678886

Eh, good enough

In [23]:
replace = df[missing][df['body_weight'].isnull()][['race', 'age', 'sex', 'height', 'avg_systolic_bp', 'avg_diastolic_bp', 'smoking', 
                                                    'serum_cholesterol']].values

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\656393947.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  replace = df[missing][df['body_weight'].isnull()][['race', 'age', 'sex', 'height', 'avg_systolic_bp', 'avg_diastolic_bp', 'smoking',

In [24]:
new_values = regr.predict(replace)

In [25]:
new_values

array([177.56327019, 134.98366574, 135.43111565, 141.69859908,
       128.90421092, 164.49471124, 135.85407016, 141.50414881,
       137.54760733, 154.56226225, 147.48031255, 106.68448785,
       132.13075337, 119.71313143, 165.7659623 , 153.74597875,
       171.19165832])

Replace nan with predicted values

In [26]:
for idx, val in enumerate(df[missing][df['body_weight'].isnull()].index):
    df.loc[val, 'body_weight'] = new_values[idx]

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\2098380314.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for idx, val in enumerate(df[missing][df['body_weight'].isnull()].index):

Predict the final weight values using age, race, sex

In [27]:
missing = ((~df['race'].isnull())&(~df['age'].isnull())&(~df['sex'].isnull()))

In [28]:
data = df[missing][~df['body_weight'].isnull()]

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\1798263649.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = df[missing][~df['body_weight'].isnull()]

In [29]:
total_data = data[['race', 'age', 'sex', 'hbp', 'body_weight']].values

In [30]:
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
replace = df[missing][df['body_weight'].isnull()][['race', 'age', 'sex', 'hbp']].values
new_values = regr.predict(replace)
for idx, val in enumerate(df[missing][df['body_weight'].isnull()].index):
    df.loc[val, 'body_weight'] = new_values[idx]

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\3950539814.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  replace = df[missing][df['body_weight'].isnull()][['race', 'age', 'sex', 'hbp']].values
C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\3950539814.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for idx, val in enumerate(df[missing][df['body_weight'].isnull()].index):

<h3>Use age, sex, race & weight to predict height</h3>

In [31]:
missing = ((~df['race'].isnull())&(~df['age'].isnull())&(~df['sex'].isnull())&(~df['body_weight'].isnull()))
data = df[missing][~df['height'].isnull()]
total_data = data[['race', 'age', 'sex', 'body_weight', 'height']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
print(regr.score(x_test, y_test))

0.5467834826488831

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\582415964.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = df[missing][~df['height'].isnull()]

Much better than trying to predict weight

In [32]:
replace = df[missing][df['height'].isnull()][['race', 'age', 'sex', 'body_weight']].values
new_values = regr.predict(replace)
for idx, val in enumerate(df[missing][df['height'].isnull()].index):
    df.loc[val, 'height'] = new_values[idx]

C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\3100255967.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  replace = df[missing][df['height'].isnull()][['race', 'age', 'sex', 'body_weight']].values
C:\Users\KAMAL\AppData\Local\Temp\ipykernel_6420\3100255967.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for idx, val in enumerate(df[missing][df['height'].isnull()].index):

<h3>Predict race</h3>

In [33]:
data = df[~df['race'].isnull()]
total_data = data[['age', 'sex', 'body_weight', 'height', 'smoking', 'race']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
replace = df[df['race'].isnull()][['age', 'sex', 'body_weight', 'height', 'smoking']].values
new_values = regr.predict(replace)
for idx, val in enumerate(df[df['race'].isnull()].index):
    df.loc[val, 'race'] = new_values[idx]

<h3>Predict if that one person currently smokes or not</h3>

In [34]:
data = df[~df['smoking'].isnull()]
total_data = data[['age', 'sex', 'body_weight', 'height', 'race', 'smoked_alot', 'smoking']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(x_train, y_train)
y_pred  = gnb.predict(x_test)

from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.8398576512455516

Pretty good

<h3>Predict cholesterol</h3>

In [35]:
replace = df[df['smoking'].isnull()][['age', 'sex', 'body_weight', 'height', 'race', 'smoked_alot']].values
new_values = gnb.predict(replace)
for idx, val in enumerate(df[df['smoking'].isnull()].index):
    df.loc[val, 'smoking'] = new_values[idx]

<h3>Predict systolic bp</h3>

In [36]:
data = df[~df['avg_systolic_bp'].isnull()]
total_data = data[['age', 'sex', 'body_weight', 'height', 'smoking', 'race', 'serum_cholesterol',
                    'avg_systolic_bp']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33,
random_state=0)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
replace = df[df['avg_systolic_bp'].isnull()][['age', 'sex', 'body_weight', 'height', 'smoking', 'race',
                            'serum_cholesterol']].values
new_values = regr.predict(replace)
for idx, val in enumerate(df[df['avg_systolic_bp'].isnull()].index):
    df.loc[val, 'avg_systolic_bp'] = new_values[idx]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

<h3>Predict diastolic bp</h3>

In [ ]:
data = df[~df['avg_diastolic_bp'].isnull()]
total_data = data[['age', 'sex', 'body_weight', 'height', 'smoking', 'race', 'serum_cholesterol', 'avg_systolic_bp', 
                  'avg_diastolic_bp']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:,:-1], total_data[:,-1], test_size=.33, random_state=0)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
replace = df[df['avg_diastolic_bp'].isnull()][['age', 'sex', 'body_weight', 'height', 'smoking', 'race', 
                                                'serum_cholesterol', 'avg_systolic_bp']].values
new_values = regr.predict(replace)
for idx, val in enumerate(df[df['avg_diastolic_bp'].isnull()].index):
    df.loc[val, 'avg_diastolic_bp'] = new_values[idx]

<h2>Feature Engineering</h2>

HBP is defined as diastolic bp being 90 or higher, not just systolic being 140 or higher

In [ ]:
df['true_hbp'] = df['hbp']

In [ ]:
df.loc[(df['hbp'] == 0)&(df['avg_diastolic_bp'] >= 90), 'true_hbp'] = 1

In [ ]:
df.head()

Create a new feature: BMI

In [ ]:
df['BMI'] = (df['body_weight'] / (df['height'] ** 2)) * 703

In [ ]:
df.head()

<h3>Do some basic predictions on the data</h3>

In [ ]:
total_data = df[['age', 'sex', 'body_weight', 'height', 'race', 'smoking', 'serum_cholesterol', 'hbp']].values
x_train, x_test, y_train, y_test = train_test_split(total_data[:, :-1], total_data[:, -1], test_size=.33, random_state=0)

<h3>Makes some pretty graphs</h3>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(total_data[:100, 0], total_data[:100, -1])
plt.title('Age vs HBP')
plt.ylabel('HBP')
plt.xlabel('Age')
plt.show()

In [ ]:
x_train[:, 0]

In [ ]:
plt.scatter(total_data[:100, 2], total_data[:100, -1])
plt.title('Body Weight vs HBP')
plt.ylabel('HBP')
plt.xlabel('Body Weight')
plt.show()

In [ ]:
plt.scatter(total_data[:200, 6], total_data[:200, -1])
plt.title('Cholesterol vs HBP')
plt.ylabel('HBP')
plt.xlabel('Cholesterol')
plt.show()

In [ ]:
plt.scatter(total_data[:100, 2], total_data[:100, -1])
plt.title('Height vs HBP')
plt.ylabel('HBP')
plt.xlabel('Height vs HBP')
plt.show()

In [ ]:
df[df['avg_diastolic_bp'] > 90]

In [ ]:
total_data[:, 1]

<h3>Logistic Regression</h3>

In [ ]:
from sklearn.linear_model import LogisticRegression
y_pred = LogisticRegression().fit(x_train, y_train).predict(x_test)

In [ ]:
print(metrics.accuracy_score(y_test, y_pred))
classification_report(y_test, y_pred, target_names=target_names)

Recall is much worse than above, many more false negatives

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100)
forest.fit(x_train, y_train)
y_pred = forest.predict(x_test)

In [ ]:
print(metrics.accuracy_score(y_test, y_pred))
classification_report(y_test, y_pred, target_names=target_names)